html, body {
    margin: 0;
    height: 100%;
}
#all {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Game_Info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    justify-content: space-evenly;
}
#container {
    display: block;
    width: 80%;
    margin: 0 auto;
}
#tapis {
    width: 80%;
    margin: auto;
}
#tapis td {
    width: 75px;
}
#tapis img {
    width: 50%;
    height: auto;
    cursor: pointer;
}
.dos {
    display: block;
    transition: 0.6s;
}
.card {
    display: none;
    transition: 0.6s;
}
.finded {
    pointer-events: none;
}

